-----BEGIN CERTIFICATE-----
MIIDhDCCAmygAwIBAgIEW6vUtzANBgkqhkiG9w0BAQsFADBbMScwJQYDVQQDDB5SZWdlcnkgU2Vs
Zi1TaWduZWQgQ2VydGlmaWNhdGUxIzAhBgNVBAoMGlJlZ2VyeSwgaHR0cHM6Ly9yZWdlcnkuY29t
MQswCQYDVQQGEwJVQTAgFw0yMzAxMTEwMDAwMDBaGA8yMTIzMDExMTA5MTQxMVowRjESMBAGA1UE
AwwJbG9jYWxob3N0MSMwIQYDVQQKDBpSZWdlcnksIGh0dHBzOi8vcmVnZXJ5LmNvbTELMAkGA1UE
BhMCVUEwggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQCjm5o6JT1xk6ZzctOuFKoZy04+
RAnPV+b3h4Ns1Fp194n3DGQ2/YMe4jCU7CZWnckhKexcLRgAR1PGfonUKiIznLGVoNMCra/tNQrD
53Q7CnHzWDKVyALlA+8GG+3uT+QSnzLhdc6NYFrNWdUIEWGaHHUwr7tzW7Kwiy67vS2OrNk2Bx6H
+N2uTOmgHOCaI/d7CD37MlZ8e7i3KGFRRzArf1Tw4oq17O3wpjENOow54FACuS/BAg4EWbklLMD9
QdBcNhoKBx4I3952yaOhEqJ2wIpaUOl6YPrhC5PAnyqIO4VxI7s4NTCXBpQWrzW4s1eaSyLbVmea
47jP+C1+9GtjAgMBAAGjYzBhMA8GA1UdEwEB/wQFMAMBAf8wDgYDVR0PAQH/BAQDAgGGMB0GA1Ud
DgQWBBSCmyYlDibXMN8Klc+ryjUqVJYyGDAfBgNVHSMEGDAWgBSCmyYlDibXMN8Klc+ryjUqVJYy
GDANBgkqhkiG9w0BAQsFAAOCAQEAbmmNVtDnrXZWkysPRp94UYnJYBL3nF/X1nyhv7OYda6+zAJ8
vojBUeC1okFpzdJXa9B0OKXBxxos3vB1zE+SA5zbPYBUk1Y0kcd1P3eemtIWbeiBfwFuwlIHCDlq
7HGLrrqG9iy9l+NKg4yRVGQ3YI0HDVs2O6PcbG3M7ivR9u8GjUQocESK3sqH6CvkuWasaqwU1KQU
M2OEeOaXCEVSX1KBraYu2jv9UK/5U5vDqM0YrE7Ew1J4Uzg+/Fkq5bKHbQYNGcG5Td1h27hUKnh8
rbBf5a+XjXSillyXo6uLs1txQSIF6wR1pd08Jsca5rvDKf/2RJ0BqgbruUr9+DZcBA==
-----END CERTIFICATE-----
