endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

set gamename "rdr3"

sv_maxclients 48
sets tags "default, deployer"

exec local.cfg
sv_hostname "Local Dev Server"
sets sv_projectName "_"
sets sv_projectDesc "_"
sets locale "en-US"

setr voice_useSendingRangeOnly true
#setr voice_useNativeAudio true
setr voice_use3dAudio true
setr voice_enableRadios false
setr voice_enableUi false

add_ace group.admin command allow
add_ace group.admin command.quit deny
add_principal identifier.fivem:705630 group.admin

set svgui_disable 1
set onesync on

# -------- events resource --------

# Logging is a client-side implementation,
# as such setr is used here to replicate value
# to all connected clients.

# Log decoded response for GET_EVENT_DATA
# Only useful for developers
#setr EVENTS_DEBUG_DECODE true

# Log and rate-limit events which are spamming
# in the last 500ms. Useful while developing to
# reduce event noise.
#setr EVENTS_WARN_SPAMMING_EVENTS true

# Log all events observed via GET_EVENT_DATA
# not just the event types which resources
# have explicitly registered for.
setr EVENTS_LOG_ALL true

# -------- gametime resource --------

# How long it takes in real-wold minutes for a
# full day/night cycle to elapse in game.
set GAMETIME_DAY_LENGTH_MINUTES 30

# The frequency at which game clients are re-sync'd
# with the server-side virtual time server/clock. This
# is only useful to ensure that clients time doesn't
# drift by too much over a long period of time.
# Default is 5 minute interval: 5 * 60 * 1000
set GAMETIME_SYNC_INTERVAL_MS 300000

# -------- enable resources (do not add anything below this section) --------

# Resource initiation must be performed after
# all server configurations are defined, specifically
# for convars otherwise resources will receive a
# null/empty response as the initialisation isn't deferred.

exec resources.cfg
exec resources-local.cfg
