@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Homemade+Apple&display=swap');
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: transparent;
  overflow: hidden;
  font-family: 'Homemade Apple', cursive;
}
body.hidden {
  pointer-events: none;
}
body.hidden .wrapper,
body.hidden .loading-bar {
  opacity: 0;
  pointer-events: none;
}
.wrapper {
  position: fixed;
  inset: 0;
  background-color: #202020;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  pointer-events: none;
  z-index: 10000;
  transition: 2s;
}

h1 {
  font-size: 4.629vh;
}

p {
  font-size: 1.481vh;
}

.loading-bar {
  pointer-events: none;
  position: absolute;
  z-index: 10001;
  bottom: 15vh;
  left: 50%;
  transform: translateX(-50%);
  background-color: #000;
  width: 1000px;
  max-width: 85vw;
  height: 10px;
  padding: 1px;
  transition: 2s;
}

.loading-bar.hide {
  opacity: 0;
}

.loading-bar-progress {
  background-color: #fff;
  height: 8px;
  width: 0;
  max-width: 100%;
}

.loading-bar-text {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%) translateY(1vh);
  color: #aaa;
  font-size: 1.25vh;
  font-family: Caveat;
}


.loading-bar-sub-text {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%) translateY(3vh);
  color: #aaa;
  font-size: 1.125vh;
  font-family: Caveat;
}
